:root {
    --Color-Fondo:#08060880;
    --Color-Texto: #ededed;
    --Color-Detalles: #f08d4d;
    --MRoca-DarkGrey:rgb(35, 31, 32);
    --MRoca-Blue:rgb(34, 41, 68, 0.8);
    --MRoca-Beige:rgb(214, 202, 185);
    --Book-Antigua:"./Fonts/Book Antiqua";
    --Source-Sans-Pro:"./Fonts/source-sans-pro";
}
html, body {
    /* border: solid red 3px; */
    margin: 0%;
    font-size: 2.25vh;
}
.background{
    position: sticky;
    overflow: hidden;
    width:auto ;
    height:100vh;
    z-index: 0;
}

.bandera{
    z-index: 1;
    transform: translate(-50%, -100%);
    position: absolute;
    height: 14vw;
    width: auto;
    /* border: solid red 1px; */
    
}
#bandera1{bottom:32.5vh; left: 17.5vw;}
#bandera2{bottom:39vh; left: 38vw;}
#bandera3{bottom:40vh; left: 60vw;}
#bandera4{bottom:36vh; left: 85vw;}

.irizar{
    position: absolute;
    width: 50vw;
    height: auto;
    top: 72vh;
    left: 10vw;
    z-index: 2;  
}
#irizar2{
    mix-blend-mode: soft-light;
}
.boya{
    position: absolute;
    width: 15vw;
    height: auto;
    top: 87vh;
    left: 77vw;
    z-index: 2;
}
#boya2{
    mix-blend-mode: soft-light;
}

.container{
    background-color: transparent;
    z-index: 2;
    display: none;
    position: absolute;
    transform-origin: 0% 0%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;    
    height: 50%;
    width: 75%;
    border-radius: 5%;
    animation-name: container-in;
    animation-duration: 0.2s;
    
}
@keyframes container-in{
    from{left: 100%;filter: blur(20px);}
    to{left: 40%;filter: blur(0px);}
}
.container-contents{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;       
}
.williams{
    flex-direction: column;
}
.retrato-container{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto; 
}
.retrato{
    z-index: 5;
    height: 100%;
    width: auto;
    z-index: 2;
    border-radius: 5%;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
   
}
.institucional{
    /* border: solid red 1px; */
    flex-direction: column;
    
}

.audio-icon{
    z-index: 6;
    width: 6%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 3;
    mix-blend-mode:hard-light;
    border-radius: 10%;
    opacity: 75%;
}
.info{
    z-index: 5;
    width: 65%;
    height: auto;
    z-index: 3;
   
}
.williams .info{
    height: 30%;
    width: 100%;
}
.info h1, h2, h3, p{
    color: var(--Color-Texto);
    z-index: 6;
    background-color: var(--Color-Fondo);
    border-radius: 3%;
    padding: 1%;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    font-family: var(--Book-Antigua);
}

.info > p{
    z-index: 6;
    text-align: justify;
    font-family: var(--Source-Sans-Pro);
}
.info > p:first-of-type{
    font-size: 1.2em;
    padding: 2vh;
    color: var(--Color-Detalles);
}

.info > p:last-child{
    text-align: right;
    font-weight: bold;
}
.multi-play{
    z-index: 6;
    background-color: var(--Color-Fondo);
    display: flex;
    border-radius: 5%;
    padding-left: 3%;
    padding-right: 3%;
    justify-content:space-around;
    align-items: center;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
}
.multi-play .audio-icon{
    z-index: 7;
    position: static;
    height: 4%;
}
.multi-play p{
    background-color: rgba(0, 0, 0, 0.1); 
    display: block;
    text-align: start;
    color: var(--Color-Detalles);
}
.institucional .info{
    width: 75%;
    
}
.institucional{
    text-align: center;
}
.institucional .info p{
    
    text-align: center;
}
.logos-container{
    /* border: purple solid 1px; */
    background-color: var(--Color-Fondo);
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    mask-border-mode:alpha ;
    text-align: center;
    border-radius: 5%;
    width: 75%;
}
.logo{
    width: auto;
    height: 8vh;
    z-index: 8;
    margin: 1vh 3vh;
    filter: grayscale();
}
#subtitles {
    margin-top: 20px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease;
    
}
.snowflake {
    position: absolute;
    color: white; /* Snowflake color */
    pointer-events: none; /* Prevent interaction */
    font-size: 1em;
    z-index: 9999; /* Ensure snowflakes are on top */
    opacity: 0.8; /* Opacity for snowflakes */
}

@media only screen and (min-width: 769px) {
    html, body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        font-size: 2.25vh;
        overflow: hidden;
        /* border: solid green 5px; */
    }
    .background{
        overflow: hidden;
        width:100vw;
        height:100vh;
        position:absolute;
        top: 0%;
        left: 0%;
        z-index: 0;
        background-color: white;
    }
    .bandera{
        height: 7vw;
    }
    #bandera1{top:52.5vh; left: 17vw;}
    #bandera2{top:36vh; left: 43.8vw;}
    #bandera3{top: 44.2vh; left: 60.5vw;}
    #bandera4{top:52.5vh; left: 81vw;}
    .irizar{
        width: 27vw;
        height: auto;
        top: 65vh;
        left: 20vw;
    }
    .boya{
        width: 7vw;
        top: 80vh;
        left: 80vw;
    }
    .container{
        display: none;
        top: 50%;
        left: 50%;    
        height: 50%;
        width: 75%;
    }
    .container-contents{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;       
    }
}
